/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* variabel css */
:root {
  --header-height: 3rem;
  --nav-width: 324px;
  /* font weight */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  /* colors */
  --first-color: #cc4b2c;
  --first-color-dark: #662616;
  --first-color-darken: #290f09;
  --text-color: #54423d;
  --first-color-light: #eae7e6;
  --first-color-lighten: #fffafa;
  /* font end typography */
  --body-font: 'poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-fonr-size: 0.75rem;
  /* margenes */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  /* z index */
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-fonr-size: 0.813rem;
  }
}
/* ====  Base ===== */
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color-lighten);
  color: var(--text-color);
  line-height: 1.6;
}
h1,
h2,
h3,
p {
  margin: 0;
}
h3 {
  font-weight: var(--font-semi-bold);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* class css */
.section {
  padding: 4rem 0 2rem;
}
.section-title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
  text-align: center;
}
.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--first-color-darken);
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: 0.25rem;
}
/* layout */
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color-lighten);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* nav */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__menu {
  position: fixed;
  top: 0%;
  left: -100%;
  width: 90%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--first-color);
  transition: 0.5s;
}
.nav__copy{
  color: var(--first-color-dark);
  position: absolute;
  margin-top: 90vh;
}
.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--first-color-dark);
  cursor: pointer;
}
.nav__item {
  margin-bottom: var(--mb-4);
}
.nav__link {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--first-color-lighten);
  font-weight: var(--font-bold);
  transition: 0.3s;
}
.nav__link:hover {
  color: var(--text-color);
}
.nav__toggle {
  color: var(--first-color-dark);
  font-size: 1.3rem;
  cursor: pointer;
}
/* show menu */
.show {
  left: 0;
}
/* active menu */
.active {
  color: var(--text-color);
}


/* CONCACT */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid var(--first-color-dark); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: var(--first-color);
    color: white;
    margin-top: 10px;
    padding: 12px 70px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: var(--first-color-lighten);
    color: var(--first-color-darken);
  }
  
 
  .container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  }



/* ====== Media Queries ======== */
@media screen and (min-width: 760px) {
  .home__button {
    width: initial;
  }
  .nav__menu {
    width: var(--nav-width);
  }
  
}

@media screen and (min-width: 1024px){
  body{
    margin: 0;
    padding-left: var(--nav-width);
  }

  .l-header{
    width: 0;
  }
  .nav__toggle, .nav__logo, .nav__close{
    display: none;
  }
  .nav__menu{
    left: 0;
  }

  .home__container{
    height: 100vh;
  }

  .section{
    padding: 3rem 0 2rem;
  }

  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }

  .services__container, .works__container{
    grid-template-columns: repeat(3,1fr);
  }
}  